<p>flux-architecture works!</p>
<app-mandatory-facility [tmplRef]="ref">

  <app-possibility-survive></app-possibility-survive>

  <div #contChildDiv>Child in -div-</div>

  <p #contChildP>Child in -p-</p>
  <p #contChildP>Child in -p-</p>
  <p #contChildP>Child in -p-</p>

  <ng-template #ngTemplate let-data><div>1. Child in -ng-template- + |{{data}}|</div></ng-template>
  <ng-template #ngTemplate2 let-data><div>2. Child in -ng-template- + |{{data}}|</div></ng-template>
  <ng-template #ngTemplate3 let-data><div>3. Child in -ng-template- + |{{data}}|</div></ng-template>

</app-mandatory-facility>

<ng-template #ref let-element>
  <div>{{ element }}</div>
</ng-template>
