<p>Table:</p>

<mat-form-field>
<mat-label>Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<!-- <mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="idReport">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>idReport</th>
      <td mat-cell *matCellDef="let row"> {{row.idReport}} </td>
    </ng-container>


    <ng-container matColumnDef="idSubject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> idSubject </th>
      <td mat-cell *matCellDef="let row"> {{row.idSubject}} </td>
    </ng-container>


    <ng-container matColumnDef="termType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <mat-label>termType</mat-label>
          <mat-select (selectionChange)="applyFilter2(selected)" [(value)]="selected">
            <mat-option value="">None</mat-option>
            <ng-container *ngFor="let field of originArr(smida)">
              <mat-option [value]="field">{{field}}</mat-option>
            </ng-container>
        </mat-select>
      </mat-form-field> </th>
      <td mat-cell *matCellDef="let row"> {{row.termType}} </td>
    </ng-container>

    <ng-container matColumnDef="publicationType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> publicationType </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.publicationType"> {{row.publicationType}} </td>
    </ng-container>

    <ng-container matColumnDef="outputNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput (keyup)="applyFilterOutput($event)"  [(ngModel)]="valueOutputNumber">
        <button mat-button *ngIf="valueOutputNumber" matSuffix mat-icon-button aria-label="Clear" (click)="valueOutputNumber=''">
          <mat-icon>x</mat-icon>
        </button>
      </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.outputNumber"> {{row.outputNumber}} </td>
    </ng-container>
    <!-- dateFill!!!!!!!!!!!!! -->
    <ng-container matColumnDef="dateFill">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start">
            <input matEndDate placeholder="End">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.dateFill.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="88" height="88" rx="44" fill="#C5DCFA" fill-opacity="0.5"/>
  <svg preserveAspectRatio="xMidYMid meet" viewBox="-19 -1 90 60" width="100%" height="100%">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.333252 8.3335C0.333252 3.91522 3.91497 0.333496 8.33325 0.333496H45.6666C50.0849 0.333496 53.6666 3.91522 53.6666 8.3335V48.3335C53.6666 51.279 51.2788 53.6668 48.3333 53.6668H16.7271C16.5971 53.6763 16.4657 53.6812 16.3333 53.6812H5.66659C2.72107 53.6812 0.333252 51.2933 0.333252 48.3478V8.3335ZM8.33325 5.66683H45.6666C47.1393 5.66683 48.3333 6.86074 48.3333 8.3335V32.3335H37.6666C34.7211 32.3335 32.3333 34.7213 32.3333 37.6668V40.3335H21.6666V37.6812C21.6666 34.7356 19.2788 32.3478 16.3333 32.3478H5.66659V8.3335C5.66659 6.86074 6.86049 5.66683 8.33325 5.66683Z" fill="#1672EC"/>
  </svg>
</svg>
