table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.mat-elevation-z8 {

  margin-bottom: 20px;

}
.example-form-field {
  width: 200px;
}

.container {
  padding: 10px 0;
  width: 50%;
  margin: 10px 0;
}
