
<nav class="navbar main">
  <h4><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/'" [routerLinkActiveOptions]="{ exact: true }">Home</a></h4>
  <h4><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/material'">Material</a></h4>
  <h4><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/city'">City</a></h4>
  <h4><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/car'">Car</a></h4>
  <h4><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/chart'">Chart</a></h4>
  <h4><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/flux'">Flux</a></h4>
</nav>

<div class="container"><router-outlet></router-outlet></div>

