
<nav class="navbar main">
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/'" [routerLinkActiveOptions]="{ exact: true }">Home</a></h5>
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/material'">Material</a></h5>
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/city'">City</a></h5>
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/car'">Car</a></h5>
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/chart'">Chart</a></h5>
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/flux'">Flux+Template</a></h5>
  <h5><a [routerLinkActive]="'active'" [class]="['link']" [routerLink]="'/ngrx'">NgRx</a></h5>
</nav>

<div class="container"><router-outlet></router-outlet></div>

