<div class="diary">
  <div class="title"><p>Your diary</p><mat-icon>arrow_forward</mat-icon></div>
  <mat-form-field appearance="outline">
    <!-- <mat-label>Textarea</mat-label> -->
    <textarea matInput></textarea>
  </mat-form-field>
  <div class="btn-container">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>sentiment_very_satisfied</mat-icon>
    </button>
    <button mat-flat-button color="primary">Primary</button>
  </div>
</div>
