<form [formGroup]="form" (ngSubmit)="submit()">
  <input formControlName="name" placeholder="name">
  <input type="number" formControlName="age" placeholder="age">
  <label> active <input type="checkbox" formControlName="active" placeholder="active"></label>
  <div [formGroupName]="'address'">
    <input type="number" formControlName="index" placeholder="index">
    <input formControlName="country" placeholder="country">
    <input formControlName="city" placeholder="city">
  </div>
  <button [disabled]="form.invalid" type="submit">Submit</button>
</form>
